@model List<ResultTeamDto>
@foreach(var item in Model)
{
<div class="card-body">
    <h5 class="text-white mb-0">@item.Point.ToString("0") <span class="float-right"><i class="fa fa-team"></i></span></h5>
    <div class="progress my-3" style="height:3px;">
        <div class="progress-bar" style="width:55%"></div>
    </div>
    <p class="mb-0 text-white small-font">@item.Name <span class="float-right">En Fazla Puanı Olan Takım <i class="zmdi zmdi-long-arrow-up"></i></span></p>
</div>
}
